@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
}

body{ 
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: poppins;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

input[type="color"]{
    border: none;
    width: 100%;
    height: 40px;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    border: none;
}

a{
    text-decoration: none;
}

.qr-text{
    padding: 1rem;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    color: #fff;
    font-family: poppins;
    font-size: 12pt;
    outline: none;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.qr-text::placeholder{
    color: #fff;
    font-family: poppins;
    font-size: 12pt;
}

.qr-text:hover{
    background: rgba(255, 255, 255, 0.4);
    transition: all 0.5s;
}

#qr-code{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}

#qr-code img, #qr-code canvas{
    max-width: 100% !important;
    max-height: 100% !important;
}

.sizes{
    display: none;
}

.btn{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    flex: 1;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.4);
    transition: all 0.5s;
}

.btn i{
    width: 20px;
    margin-left: 10px;
    color: #fff;
}

.share-btn{
    margin-left: 0.7rem;
   color: #fff;
   font-family: poppins;
   font-size: 1.1rem;
    font-weight: 500;
}

.action-container{
    display: flex;
    margin: 1rem 0;
}

@media (max-width: 512px){
    body{
        max-width: 100%;
        padding: 10px;
    }
    #qr-code{
        width: 90vw;
        height: 90vw;
    }
    #qr-code img, #qr-code canvas{
        max-width: 75vw !important;
        max-height:75vw !important;
    }
    .btn{
        min-width: unset;
        padding: 10px;
    }
    
}

@media (max-width: 350px){
    .action-container{
        flex-direction: column;
    }
    .share-btn{
        margin-left: 0;
        margin-top: 0.7rem;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
